/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


@font-face {
    font-family: GrifoS;
    src: url(/fonts/GrifoS.otf);
}
@font-face {
    font-family: GrifoSBold;
    src: url(/fonts/GrifoS-Bold.otf);
}
@font-face {
    font-family: GrifoSBoldItalic;
    src: url(/fonts/GrifoS-BoldItalic.otf);
}
@font-face {
    font-family: GrifoSItalic;
    src: url(/fonts/GrifoS-Italic.otf);
}
@font-face {
    font-family: GrifoSLight;
    src: url(/fonts/GrifoS-Light.otf);
}
@font-face {
    font-family: GrifoSLightItalic;
    src: url(/fonts/GrifoS-LightItalic.otf);
}

.italic {
    font-style: normal;
    font-family: GrifoSItalic, serif;
}
.italic-bold {
    font-style: normal;
    font-family: GrifoSBoldItalic, serif;
}
.non-italic {
    font-style: normal;
    font-family: GrifoS, serif;
}
.font-italic {
    font-family: GrifoSItalic, serif;
    font-weight: normal;
}
.font-bold {
    font-family: GrifoSBold, serif;
    font-weight: normal;
}
.font-light {
    font-family: GrifoSLight, serif;
    font-weight: normal;
}
.font-light-italic {
    font-family: GrifoSLightItalic, serif;
    font-weight: normal;
}
.font-bold-italic {
    font-family: GrifoSBoldItalic, serif;
    font-weight: normal;
}

body {
    font-family: GrifoS, serif;
    background-color: #74625b;
}

.bg-accent-10-8 {
    background: #b0b0d4;
    background-image: url("/images/dust-accent-5.png");
    background-image: url("/images/dust-accent-5.png"), linear-gradient(0deg, #ebeff1 0%, #ebeff1 65%, #b0b0d4 100%);
}
.bg-accent-5-10 {
    background: #0a0d20;
    background-image: url("/images/dust-accent-3.png");
    background-image: url("/images/dust-accent-3.png"), linear-gradient(0deg, #b0b0d4 0%, #0a0d20 40%, #0a0d20 100%);
}

.bg-accent-8-9 {
    background: #ebeff1;
    background-image: url("/images/dust-accent-5-3.png");
    background-image: url("/images/dust-accent-5-3.png"), linear-gradient(0deg, #736f6e 0%, #ebeff1 100%);
}
.bg-accent-9-5 {
    background: #736f6e;
    background-image: url("/images/dust-accent-3-white.png");
    background-image: url("/images/dust-accent-3-white.png"), linear-gradient(0deg, #0a0d20 0%, #736f6e 100%);
}
.bg-accent-11-transparent {
    background: #74625bAA;
    background: linear-gradient(0deg, transparent 0%, #74625bAA 100%);
}
.bg-accent-transparent-12 {
    background: transparent;
    background: linear-gradient(0deg, #74625b88 0%, transparent 100%);
}


.box-shadow-accent-5 {
    box-shadow: 0 15px 31px 0 #0a0d2077;
}

.top-20 {
    top: 5rem;
}

.blur {
    filter: blur(4px);
}

.st0{fill:#ABE8F3;}
.st1{fill:#108095;}
.st2{fill:#12C4A4;}
.st3{fill:#E6F8FB;}
.st4{fill:#82DCED;}
.st5{fill:#B37612;}
.st6{fill:#EE2B74;}
.st7{fill:#BBEEE5;}
.st8{fill:#8DE3D3;}
.st9{fill:#BF5046;}
.st10{fill:#BFA915;}
.st11{fill:#F799BD;}
.st12{fill:#C0B1FF;}
.st13{fill:#C52061;}
.st14{fill:#FABEA9;}
.st15{fill:#FAC2D7;}
.st16{fill:#2EC5E1;}
.st17{fill:#FF6A5D;}
.st18{fill:#FFD999;}
.st19{fill:#FFED77;}
.st20{opacity:0.1;clip-path:url(#SVGID_2_);fill:url(#SVGID_3_);}
.st21{fill:#331D8F;}
.st22{fill:#6D4CFF;}
.st23{fill:#009180;}
.st24{fill:#00AC98;}
.st25{fill:#71DCC8;}
